.button {
    background-color: gold;
}

.customerList {
    width: 70vw;
    counter-reset: my-counter;
}

.customerLink {
    height: 7vh;
    counter-increment: my--counter;
    content: counter (my-sec-counter) "." ;
    background-color: antiquewhite;
}


@media screen and (max-width: 500px) {
    .customerList {
        width: 90vw;
    }
}

.icon path {
    fill: rgb(182, 207, 182);
}