.button {
    background-color: gold;
}

.customerList {
    width: 70vw;
    counter-reset: counter;
    position: relative;
}

.customerLink {
    height: 7vh;
    background-color: antiquewhite;
}

.customerLink::before {
    content: "";
    position: absolute;
    left: 0;
    counter-increment: counter;
    content: counter (counter) "." ;
}

@media screen and (max-width: 500px) {
    .customerList {
        width: 90vw;
    }
}


.refundNo {
    color: rgba(53, 71, 25, 0.752);
}