.registerFormWrapper,
.loginformWrapper {
    display: grid;
    place-content: center;
    border-radius: .5rem;
}
.loginformWrapper {
    height: 90vh;
}

.registerForm,
.loginForm {
    padding: 2rem 1rem;
    border-radius: inherit;
    background-color: rgba(228, 152, 128, .3);
}
.registerForm {
    width: 60vw;
}
.loginForm {
    width: 40vw;
}

@media screen and (max-width: 470px) {
    .registerForm {
        width: 90vw;
    }
}

.button {
    background-color: rgb(228, 152, 128);
}

.button:hover {
   background-color: #E49880;
}